.jumbotron {
	background-color: rgb(40, 130, 156);
	margin-bottom: 0px;
	color:white;
	font-family: 'Alegreya Sans SC';
}
.mainContainer {
	padding: 2em;
}

.footer {
	text-align:center;
	margin-top:10px;
	padding: 2em;
	color: rgb(86, 168, 193);
	background-color: white;
	border-top: solid 2px rgb(40, 130, 156);
}

.photoCred {
	text-align: center;
	font-size: 10px;
	margin-top: 1em;
}

h1, h2, h3{
	text-align: center;
}

.avatar{
	margin-bottom: 10px;
}
