.jumbotron {
	background-color: rgb(40, 130, 156);
	margin-bottom: 0px;
	color:white; 
	font-family: 'Alegreya Sans SC';
}
.mainContainer {
	padding: 2em;
}

h2 {
	text-align: center 
}


.footer {
	text-align:center;
	margin-top:10px;
	color: rgb(83, 199, 233);
	background-color: white;
}

.photoCred {
	text-align: center;
	font-size: 10px;
	margin-top: 1em;
}









